/* Variáveis das cores principais */

:root {
    --cor-de-fundo: #fc5858;
    --cor-da-fonte: black;
    --fonte-da-letra: 'Barlow', sans-serif;
    --fonte-copyright: black;
}


main {
    margin-top: 7%;
    margin-bottom: 7%;
    font-size: 6vw;

}

.fundo {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
    font-family: var(--fonte-da-letra);

}

#logo {
    float: left;
    width: 40%;
    margin-left: auto;
    margin-right: 12%;
    margin-top: 5%;
}


.conjunto {
    display: block;
    align-items: center;
}

.conjunto a {
    color: var(--cor-da-fonte);
}

.icones {
    font-size: 1em;
    text-decoration: none;
    margin: auto;
}

#whatsapp {
    color:white ;
}

#email {
    color: #2e72c9;
}

#linkedin {
    color: blue;
}

#instagram {
    color: #edc147;
}

#mapa {
    color: #2c346e;
}

#telefone {
    color:#354a8c;
}

#balança {
    color: #daa520;
}

#criminal {
    color: #696b7a;
}

#letracriminal {
    color: white;
}

#transito{
    color: #f7c64a;
}

#letratransito {
    color: white;
}

.clique{
    background-color: #425c29;
}

footer {
    position: absolute;
	text-align: center;
	color: #f7c64a;
	bottom: 0px;
	left: 0px;
	right: 0px;
 }

/*Início áreas de atuação*/

#logoAtuacao {
    float: left;
    width: 40%;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 5%;
}

.atuacao {
    display: flex;
}

.areaAtuacao {
    text-decoration: none;
    color: var(--cor-da-fonte);
    font-size: 2.3vw;
    padding: 2%;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
}

.areaAtuacao a {
    text-decoration: none;
    color: var(--fonte-da-letra);
}

.img-titulo {
    margin-left: 10%;
}

/* Botão voltar */
button.botao-voltar {
    background-color: #425c29;
    border-color: #f7c64a;
    position: fixed;
    bottom: 100px;
    right: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    padding: 5px;
}

#link-btn-atuacao {
    text-decoration: none;
    color: #f7c64a;
}



@media (max-width: 992px) {
    .fundo{
        text-align: center;
    }

    #logo {
        width: 100%;
    }

    .conjunto {
        margin-top: 55%;
        margin-bottom: 30%;
    }

    .icones {
        font-size: 2.1em;

    }

    #logoAtuacao {
        float: none;
        width: 100%;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .atuacao {
        display: block;
    }

    .areaAtuacao {
        background-color: white;
       
        text-decoration: none;
        font-family: var(--fonte-da-letra);
        font-size: xx-large;
        padding: 3%;
        margin-top: 10%;
        border-radius: 10px;
        border-color: #7f7674;
        width: 100%;
        display: block;
        box-shadow: 1px 1px 2px #888;
       
      
    }

    .areaAtuacao a{
        color:black;
    }

    /* Botão voltar */
    button.botao-voltar{
        color: #f7c64a;
    }

    #link-btn-atuacao {
        text-decoration: none;
        width: 100%;
    }

    #letratransito {
        color: black;
    }

    #letracriminal {
        color: black;
    }

    .img-titulo {

        margin:auto;
    }

    footer{
        display:contents;
    }
}

@media (min-width: 878px) and (max-width: 1199px) {
    .icones {
        font-size: 2em;

    }
}



@media (min-width: 992px) and (max-width: 1199px) {
    .icones {
        font-size: 1em;

    }

    .conjunto {
        margin-top: -5%;
        margin-bottom: 15%;
    }
}

