/* INICIO configurações gerais*/
body {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 1.4vw;
}

main {
  margin-top: 12%;
}
.contents{
  height: 2vw;
}

footer {
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#ffffff", GradientType=1);
}

.titulo {
 font-weight: bolder;
  font-size: 2em;
}

.imagemDivisao {
  width: 10%;
  /* ESSE MARGIN TOP AJUDA A NÃO ESCONDER O TITULO */
  margin-top: 8%;
}
/* FIM configurações gerais */


/* INICIO Navbar */
.colornavbar {
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#ffffff", GradientType=1);
}

.colornavbar ul li a {
  font-size: 1em;
}

.colornavbar img{
  width: 280px;
}
/* FIM Navbar */


/* INICIO CAROUSEL HOME */
.content img {
  object-fit: cover;
  width: 100%;
}

.imagehome {
  filter: grayscale(100%);
}
/* FIM CAROUSEL HOME */


/* INICIO DO SOBRE NOS */
.explanacao {
 
  text-align: justify;
  font-size: 1.2em;
  line-height: 2;
}

.imagemcomtexto {
  position: relative; 
  background-image: url(/imagens/martelo.png);
  background-size: cover;
  width: auto;
  height: 80vh;
}


.text {
  position: absolute;
  width: 400px;
  top: 50%;
  /* Posiciona o texto no centro verticalmente */
  left: 25%;
  /* Posiciona o texto no centro horizontalmente */
  transform: translate(-50%, -50%);
  /* Centraliza o texto exatamente no meio */
  font-size: 1.4em;
  color: white;
  text-align: center;
  line-height: 2;
}
/* FIM DO SOBRE NOS */


/* INICIO DA ÁREA DE ATUAÇÃO */
.btn-atuacao {
  background-color: #25d366;
  padding: 7px;
  border-style: solid;
  border-radius: 10px;
  border-color: #20b356;
  color: black;
  text-decoration: none;
}

.btn-atuacao:hover {
  background-color: #20b356;
  padding: 7px;
  border-style: solid;
  border-radius: 10px;
  border-color: #25d366;
}

.cardAtuacao{
  width: 18rem; 
margin-top: 10%;
margin-left: 16%;
 }

/* FIM DA AREA DE ATUAÇÃO */

/* INICIO DAS DUVIDAS FREQUENTES EM CAROUSEL */
.faq{
  text-align: right;
  margin-left: 10%;
  font-size: 1em;
  transform: translate(5%, 10%);
}
/* FIM DAS DUVIDAS FREQUENTES EM CAROUSEL */

/* INICIO RODAPÉ */
.numeroTelefone:hover{
  font-weight: bold;
}

.mail {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1.2em;
}

.mail:hover {
  font-weight: bold;
  font-size: 1.3em;
}

.iconeRedeSocial{
text-decoration: none;
font-size: 2.2em;
}

.icone1:hover, .icone2:hover, .icone3:hover, .icone4:hover{
  font-size: 2em;
}

.sendMail {
  background-color: rgb(131, 182, 135);
  border-style: solid;
  padding: 8px;
  border-radius: 60px;
  border-color: rgb(74, 109, 77);
  color: white;
}

.sendMail:hover {
  background-color: #20b356;
}
/* FIM RODAPÉ */


/* INICIO BOTOES ADICIONAIS - TELEFONE E WHATSAPP */
.btn_whats {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.btn_help {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: #c18824;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  display: none;
}

.btn_precisaAjuda {
  position: fixed;
  width: 200px;
  padding: 10px;
  top: 57px;
  right: 40px;
  background-color: #7ff9ac;
  color: #000000;
  border-radius: 30px;
  text-align: center;
  font-size: 1em;
  z-index: 1000;
  text-decoration: none;
  line-height: 1.5;
}
/* FIM BOTOES ADICIONAIS - TELEFONE E WHATSAPP */


/* INICIO SESSÃO COPYRIGHT */
.responsabilidadeSite {
  font-size: medium;
}
/* FIM SESSÃO COPYRIGHT */


@media (max-width:350px){
  .text {
    font-size:7em;
  }
}

@media (max-width:576px){
  .contents{
  height: 20vw;
}
}



@media (min-width:576px) and (max-width:993px){
  .mail{
    font-size: 0.6em;
  }

  .icone1, .icone2, .icone3, .icone4{
    font-size: 0.4em;
  }
}

@media (max-width:992px) {
  body {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 3.7vw;
    font-weight: bold;
  }

  /* INICIO DAS DUVIDAS FREQUENTES EM CAROUSEL */
#carouselExampleAutoplaying{
  display: none;
}
/* FIM DAS DUVIDAS FREQUENTES EM CAROUSEL */

  .imagemcomtexto {
    position:relative;
    background-image: url(/imagens/img_frase.png);
    background-size:cover;
    background-position:right;
    width: 80%;
    height: 100vw;
    border-radius: 5px;
    margin: auto;
  }

  .text {
    position: absolute;
    width: 57%;
    top: 50%;
    /* Posiciona o texto no centro verticalmente */
    left: 37%;
    /* Posiciona o texto no centro horizontalmente */
    /* transform: translate(-50%, -50%); */
    /* Centraliza o texto exatamente no meio */
    font-size:1.2em;
    color: black;
    text-align: center;
    line-height: 1.5;
    font-weight: bolder;
  }

  .imagemDivisao {
    width: 30%;
    /* ESSE MARGIN TOP AJUDA A NÃO ESCONDER O TITULO */
    margin-top: 8%;
  }

  .colornavbar img{
    width: 180px;
  }

  .cardAtuacao{
    width: 18rem; 
  margin-top: 10%;
  margin: auto;
   }

   .cardtransito{
    margin-top: 10%;
   }
  /* INICIO BOTOES ADICIONAIS - TELEFONE E WHATSAPP */
.btn_whats {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.btn_help {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  display: block;
  text-decoration: none;
}

.phone{
  margin-top: 28%;
  margin-left: 5%;
}

.btn_precisaAjuda {
  position: fixed;
  width: 200px;
  padding: 10px;
  top: 57px;
  right: 40px;
  background-color: #25d366;
  color: #000000;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2em;
  z-index: 1000;
  text-decoration: none;
  line-height: 1.5;
  display: none;
}
/* FIM BOTOES ADICIONAIS - TELEFONE E WHATSAPP */

.iconeRedeSocial{
  text-decoration: none;
  font-size: 1.4em;
  }
  
  .icone1:hover, .icone2:hover, .icone3:hover, .icone4:hover{
    font-size: 1.2em;
  }

  .numeroTelefone:hover{
    font-weight: bold;
    font-size: 0.8em;
  }

  .topico{
    font-size: 1.4em;
  }
}

@media (min-width:993px) and (max-width:1060px){
 /* INICIO BOTOES ADICIONAIS - TELEFONE E WHATSAPP */
 .btn_whats {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.btn_help {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  display: block;
  text-decoration: none;
}

.phone{
  margin-top: 28%;
  margin-left: 5%;
}

.btn_precisaAjuda {
  position: fixed;
  width: 200px;
  padding: 10px;
  top: 57px;
  right: 40px;
  background-color: #25d366;
  color: #000000;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2em;
  z-index: 1000;
  text-decoration: none;
  line-height: 1.5;
  display: none;
}
/* FIM BOTOES ADICIONAIS - TELEFONE E WHATSAPP */

/* INICIO DAS DUVIDAS FREQUENTES EM CAROUSEL */
.faq{
  font-size: 1em;
  transform: translate(5%, 25%);
}

.faq h3{
  font-size: 1.2em;
}
/* FIM DAS DUVIDAS FREQUENTES EM CAROUSEL */
}
